# Python gitignore ####################################################################################################

# Ignore data and wights
Data/
Dataset/
Training/
PAE/History/

# Ignore Python cache files
__pycache__/